
DATABASE_URL="postgresql://postgres.c"
DIRECT_URL="postgresql://postgres."

JWT_SECRET=
REFRESH_TOKEN_SECRET=
JWT_EXPIRES_IN=7d

NODE_ENV=
NEXT_PUBLIC_API_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SERVICE_ROLE_KEY=
